* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(229, 226, 226, 0.877);
}

.App {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid red; */
}
