.deletprofile {
  padding: 100px;

  /* margin: 100px; */
  /* border: 10px solid red; */
}

.deletprofile button {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: crimson;
  margin-right: auto;
}
.deletprofile img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.deletprofile__details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
