.home {
  /* border: 1px solid red; */
  /* position: relative; */
  margin-top: 80px;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 5px solid green; */
}

.home__container button {
  padding: 10px;
  border-radius: 10px;
  /* background-color: rgba(187, 83, 83, 0.479); */
}
